exportPattern("^[[:alpha:]]+")
import(TMB)
importFrom(TMB, sdreport)
importFrom(TMB, sdreport)
import(argparse)
import(feather)
import(arm)
import(lme4)
import(doParallel)
import(parallel)
import(iterators)
import(foreach)
import(RMySQL)
import(DBI)
import(MASS)
import(Matrix)
import(ggplot2)
import(pacman)
import(abind)
import(Rcpp)
import(data.table)
useDynLib(AFModel)
